.CitiesPanel {
  padding: 1% 2%;
  font-size: 25px;
  margin-top: 30px;
}

.CitiesPanel .CitiesText {
  font-family: 'Bitter', serif;
  color: #21224b;
  width: 50%;
  float: left;
  font-weight: bold;
}

.CitiesInput {
  padding: 1%;
  outline: none;
  font-family: 'Bitter', serif;
  color: #21224b;
  border: 2px #3d485b ridge;
  border-radius: 5px;
  margin-left: 10px;
  padding: 8px;
  font-size: 15px;
  font-weight: bold;
}

.CitiesButton {
  padding: 1%;
  outline: none;
  font-family: 'Bitter', serif;
  color: #21224b;
  border: 2px #3d485b ridge;
  border-radius: 5px;
  margin-left: 10px;
  padding: 8px;
  font-size: 15px;
  font-weight: bold;
}

.CitiesButton:hover {
  background-color: #586d7c;
  border-color: #c18ce3;
  color: white;
  cursor: pointer;
}

.CitiesButton:active {
  border-style: inset;
}
